<div class="rating-container">
  <div class="buttons-container">
    <ng-container *ngFor="let value of values">
      <div class="button-container" [class.active]="value <= currentRating" (click)="rate(value)">
        {{ value }}
      </div>
    </ng-container>
  </div>
  <div class="labels-container">
    <div>Unlikely</div>
    <div>Very likely</div>
  </div>
</div>
