// Variables
$border-color: #e1e5ec;
$text-main: #333343;
$text-secondary: #808797;
$accent-text: #00a5aa;

.rating-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: max-content;

  .buttons-container {
    display: flex;
    align-items: center;
    width: 100%;

    .button-container {
      border: 1px solid $border-color;
      border-radius: 8px;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 2px;
      color: $text-main;
      height: 5rem;
      width: 5rem;
      font-size: 30px;

      &.active {
        border: 1px solid $accent-text;
        background: rgba(0, 165, 170, 0.1);
        color: $accent-text;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .labels-container {
    color: $text-secondary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.5rem;
  }
}
